<!-- Index nya BLOG -->

<html>
<head>
    <title>Selamat datang | {{judul}}</title>
</head>
<body>
    <h1>Selamat datang di kelas Tertutup | {{kontribusi}}</h1>
    <p><h2>Website ini dibuat dengan menggunakan Django | {{judul}}</h2></p>
    
    <ul>
        <li><a href="/about" title="about">about</a></li>
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="/blog" title="Blog">Blog</a></li>
            <ul>
                <li><a href="/blog/cerita" title="Cerita">Cerita</a></li>
                <li><a href="/blog/berita" title="Berita">Berita</a></li>
                <li><a href="/blog/recent" title="Recent">Recent</a></li>
            </ul>
    </ul>
</body>
</html>