<!-- Ini adalah Index nya about -->

<html>
<head>
    <title>{{subjudul}} | {{judul}}</title>
</head>
<body>
    <h1>{{subjudul}} | {{judul}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptatem maxime ipsam id ratione praesentium culpa, vitae similique quo, assumenda aspernatur ullam quod quas reprehenderit voluptate accusamus veniam necessitatibus? Aut.</p>
    
    <ul>
        <li><a href="/" title="home">Home</a></li>
        <li><a href="/blog" title="blog">Blog</a></li>
    </ul>
</body>
</html>